body {
	background: linear-gradient(55deg, #CD5334 0%, #EDB88B 51%, #FAD8D6 85%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	height: 100vh;
	font-family: 'Lora', serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.navbar-brand {
    font-size: x-large;
	font-weight: 700;
}

/* #app, #app>div {
	height: 100% !important;
} */

#dropdownItemAbout {
	padding: -1rem;
}

#dropdownItem:hover {
	background-color: rgb(237, 237, 237);
}
