body {
	background: linear-gradient(55deg, #CD5334 0%, #EDB88B 51%, #FAD8D6 85%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.navbar-brand {
    font-family: 'Concert One', cursive;
    font-size: x-large;
}

#project-block {
    font-family: 'Zilla Slab', serif;
}

#small-print {
    font-family: 'Josefin Slab', serif;
}
